@mixin clearFix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}



/*
* MEDIA QUERY MANAGER
0     - 600px       phone
600px - 900px       tab-port
900px - 1200px      tab-land
[1200px-1800px]     default design
1800px+             big-desktop

*/

// only screen -> don't apply on print screen

@mixin respond($device) {
  @if $device == phone {
    @media only screen and (max-width: 37.5em) { @content };   // 600px
  }
  @if $device == tab-port {
    @media only screen and (max-width: 56.25em) { @content };  // 900px
  }
  @if $device == tab-land {
    @media only screen and (max-width: 75em) { @content };     // 1200px
  }
  @if $device == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };  // 1800px
  }
}