.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    background-color: $color-white;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    box-shadow: 0 1rem 5rem rgba($color-black, .2);
    text-align: center;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 2.5rem;
      right: 2.5rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient($color-primary, $color-primary-dark);
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;
    transition: transform .8s;

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(.89,-0.38,.14,1.4);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    list-style: none;
  }

  &__item {
    margin: 1rem;
    font-size: 3rem;
  }

  &__link {
    & span {
      margin-right: 1.5rem;
    }

    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-white;
      font-weight: 300;
      text-transform: uppercase;
      padding: 1rem 2rem;
      background-image: linear-gradient(120deg, transparent 50%, $color-white 50%);
      background-size: 220%;
      transition: all .4s;
    }

    &:active,
    &:hover {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(70);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;
  
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-light-3;
      display: inline-block;
      transition: all .2s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before { top: -.8rem}
    &::after { top: .8rem}
  }

  &__button:hover &__icon::before { top: -1rem }
  &__button:hover &__icon::after { top: 1rem }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0%;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0%;
    transform: rotate(-135deg);
  }
}