.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem;
  margin-top: -20vh;
}

.section-features {
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, .8), 
    rgba($color-primary-dark, .8)),
    url('../../img/nat-4.jpg');
  padding: 20rem 0;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem
}