.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.section-features {
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, .8), 
    rgba($color-primary-dark, .8)),
    url('../img/nat-4.jpg');
  padding: 20rem 0;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -12rem;

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -12rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-story {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.booking {
  background-image:linear-gradient(105deg, rgba($color-white, .85)50%, transparent 50%), url('../img/nat-10.jpg');
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
  
  @include respond(tab-land) {
    background-image:linear-gradient(105deg, rgba($color-white, .85)65%, transparent 65%), url('../img/nat-10.jpg');
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image:linear-gradient(rgba($color-white, .85)0%, rgba($color-white, .85)100%), url('../img/nat-10.jpg');
    background-size: cover;
  }
}

.form {
  padding: 6rem;
  width: 50%;

  @include respond(tab-land) {
    width: 65%;
  }

  @include respond(tab-port) {
    width: 100%;
  }
}